body {
	font-family: Comic, Cursive, sans-serif;
	background-image: url('../images/rps.png');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #354457;
	text-align: center;
	cursor: pointer;
}

#heading {
	color: #354457;
	font-family: Josefin Sans, sans-serif;
	font-weight: 600;
	font-size: 350%;
}

main {
	text-decoration: underline;
	font-size: 120%;
	height: 100%;
	width: 85%;
	margin: 7.5%;
}

#make-a-choice {
	font-size: 160%;
}

article {
	display: inline;
}

.choices {
	background-color: salmon;
	height: 20%;
	margin: 1.1%;
	margin-top: 7%;
	border: 4px solid #354457;
	padding: 7px;
}

-------------------------------------------------------
FONTS
--------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);



